@import 
url(https://fonts.googleapis.com/css?family=Open+Sans);
.App{
  text-align: center;
}
#header{
  padding: 2rem;
  background: #242A2E;
}
#header h1{
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  color: #FFF;
}
div.wrapper{
  grid-column: 2/3;
  grid-row: 2/3;
}
#search-bar{
  margin-top: 50px;
  width: 100%;
  position: relative
  
}
#search-bar input{
  margin-top: 20px;
  width: 258px;
  border: 3px solid #242A2E;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
#search-bar input:focus{
  color: #242A2E;
}
.searchButton{
  margin-left: -9px;
  margin-top: 20px;
  position: absolute;  
  /* right: -50px; */
  width: 40px;
  height: 36px;
  border: 1px solid #242A2E;
  background: #242A2E;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}
.searchButton i{
  font-size: 20px;
}


@media only screen and (max-width: 650px) {
  .App {
    overflow: hidden;
    text-align: center;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 2px 1fr 2px;
    grid-row-gap: 2em;
  }
  div.wrapper {
    margin-right: 10%;
}
  #header h1{
    width: auto;
    grid-column: 1/4;
  }
  
}